@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: hsl(204, 43%, 93%);
}

* {
  font-family: 'Karla', sans-serif;
}

.container {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.left,
.right {
  padding: 15px 30px;
}

.left,
.right,
button {
  color: hsl(0, 0%, 100%);
}

.top {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 0 30px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.left {
  background-color: hsl(179, 62%, 43%);
  border-bottom-left-radius: 7px;
}

.right {
  background-color: hsla(179, 62%, 43%, 0.7);
  border-bottom-right-radius: 7px;
}

li {
  list-style: none;
  margin-left: -4.3em;
}

li,
.top p:last-of-type,
.left p:last-of-type,
.left label:last-of-type {
  font-size: xx-small;
}

.top p:nth-child(3) {
  color: hsl(218, 22%, 67%);
  margin-top: -0.7em;
}

.top p:nth-child(2) {
  color: hsl(71, 73%, 54%);
  font-size: 1.05em;
}

.top p:nth-child(1) {
  color: hsl(179, 62%, 43%);
  font-size: 1.37em;
}

.top p:nth-child(1),
.top p:nth-child(2),
.left p:first-of-type,
.left label:first-of-type,
button {
  font-weight: 700;
}

button {
  padding: 10px 20px;
  width: 95%;
  background-color: hsl(71, 73%, 54%);
  margin-top: 1.2em;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  cursor: pointer;
}

.left label:first-of-type {
 font-size: 1.75em;
}

.left label {
  vertical-align: middle;
}