@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color: hsl(204, 43%, 93%);
  padding: 10px 5px;
}

* {
  font-family: 'Karla', sans-serif;
}

.top {
  grid-area: top;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template-areas: 'top' 'left' 'right';
  max-width: 355px;
  margin: 0 auto;
}

.grid-container div {
  height: 250px;
  padding: 10px 20px;
}

.grid-container div > p:first-of-type {
  font-size: 1.42rem;
}

.grid-container div > p:first-of-type,
.top p:nth-child(2) {
  font-weight: 700;
}

.top {
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top p:first-child {
  color: hsl(179, 62%, 43%);
}

.top p:nth-child(2) {
  color: hsl(71, 73%, 54%);
  font-size: 1.07rem;
}

.top p:nth-child(3) {
  color: hsl(218, 22%, 67%);
}

.left {
  background-color: hsl(179, 62%, 43%);
}

.left p,
.left label:first-of-type,
.right p,
button {
  color: hsl(0, 0%, 100%);
}

.left label:first-of-type {
  font-size: 2.6rem;
  font-weight: 700;
}

label {
  display: inline-block;
  vertical-align: middle;
}

.left label:last-of-type,
.right li {
  color: hsla(204, 43%, 93%, 0.8);
}

.left label:last-of-type {
  font-size: 1.15rem;
  margin-left: 0.65em;
}

.left p:last-of-type {
  font-size: 1.2rem;
}

button {
  background-color: hsl(71, 73%, 54%);
  width: 100%;
  padding: 15px 0;
  border-style: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.right {
  background-color: hsla(179, 62%, 43%, 0.8);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li {
  list-style: none;
  margin-left: -2.5em;
}

@media screen and (min-width: 1440px) {
  .grid-container {
    grid-template-areas: 'top top' 'left right';
    max-width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .grid-container div {
    padding: 20px 35px;
  }

  .top {
    margin-bottom: -5em;
  }

  .top p:nth-child(2) {
    font-size: 1.12rem;
  }

  .top p:nth-child(3) {
    width: 95%;
  }

  .left {
    border-bottom-left-radius: 5px;
  }

  .right {
    border-bottom-left-radius: 0px;
  }

  li {
    line-height: 1.4em;
  }
}